{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>List of all available cars</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
					<th>Type</th>
                    <th>Capacity</th>
                    <th>Transmission</th>
					<th>Day Rent</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
    {% for vehicle in vehicles%}
				<tr>
					<td>{{ vehicle.make }}</td>
					<td>{{ vehicle.model }}</td>
					<td>{{ vehicle.package.type }}</td>
					<td>{{ vehicle.seating_cap }}</td>
					<td>{{ vehicle.transmission }}</td>
					<td>{{ vehicle.package.per_day_rent }}</td>
					<td><button type="button" class="btn btn-light">
						<a href="{% url 'admin-vehicle-edit' vehicle.id %}">Edit</a>
						</button>
                    {% if not vehicle.insurance %} 
                        <button type="button" class="btn btn-light">
                        <a href="{% url 'insurance-new' %}">Add insurance details</a>
                        </button>
                    {% elif vehicle.insurance %}
                        <button type="button" class="btn btn-light">
                        <a href="#">Edit insurance</a>
                        </button></td>
                    {% endif %}
				</tr>
    {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}