{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>My bookings</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Car</th>
                    <th>Start Time</th>
					<th>End Time</th>
                    <th>Amount</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
    {% for booking in bookings%}
            <tr>
                <td>{{ booking.vehicle }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>${{ booking.amount }}</td>
				<td><button type="button" class="btn btn-light">
                    <a href="{% url 'booking-edit' booking.id %}">Edit booking</a>
                    </button></td>
            </tr>
    {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-info" href="{% url 'booking-new' %}">Book another rental</a>
        {% if user.is_superuser %}
        <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}