{% extends "users/base.html" %}
{% load static %}
{% block content %}
	<div class = "container-fluid padding">
	<div class = "row welcome text-centre">
		<div class = "col-12">
			<h1 class ="display-4">Contact Us</h1>
		</div>
		<hr>
	</div>
	</div>
	

		<div class = "row padding">
			<div class = "col-md-4">
				<div class = "card">
					<img class = "card-img-top" src = "{% static 'img/Travel-Photographer.jpg' %}">
					<div class = "card-body">
						<h4 class = "card-title"> Sohaib Nabeel</h4>
						<p class= "card-text"> some details </p>
						<a href="customer_service.html"class="btn btn-outline-secondary" > Ticket Form </a>
					</div>
				</div>
			</div>
		
		<div class = "col-md-4">
			<div class = "card">
				<img class = "card-img-top", src = "{% static 'img/Travel-Photographer.jpg' %}">
				<div class = "card-body">
					<h4 class = "card-title"> Jin Sato </h4>
					<p class= "card-text"> some details </p>
					<a href="customer_service.html"class="btn btn-outline-secondary" > Ticket Form </a>
				</div>
			</div>
		</div>
		
		
		<div class = "col-md-4">
			<div class = "card">
				<img class = "card-img-top", src = "{% static 'img/Travel-Photographer.jpg' %}">
				<div class = "card-body">
					<h4 class = "card-title"> Hrithvik Gadhiya </h4>
					<p class= "card-text"> some details </p>
					<a href="customer_service.html"class="btn btn-outline-secondary" > Ticket Form </a>
				</div>
			</div>
		</div>
		
	</div>
					
		

	<div class = "container-fluid padding">
	<div class = "row padding">
		<div class = "col-lg-6">
		<h2> Our Motivation </h2>
		<p>For decades renting cars is a world wide recognised business and we are here to serve the cause!</p>
		<p>We offer an easy to use car renting system that helps the users to easily browse through the website and book a car of there choosing. </p>
		<p>Our team is always ready to help you in your car needs and is motivated in making the car renting industry a pleasure to use! </p>
		</div>
	</div>
	</div>
		
{% endblock content %}