{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<div class = "container-fluid padding">
	<div class = "row welcome text-centre">
		<div class = "col-12">
			<h1 class ="display-4">Contact Us</h1>
		</div>
		<hr>
	</div>
	</div>
	

		<div class = "row padding">
			<div class = "col-md-4">
				<div class = "card">
					<img class = "card-img-top" src = "{% static 'img/Travel-Photographer.jpg' %}">
					<div class = "card-body">
						<h4 class = "card-title"> Sohaib Nabeel</h4>
						<p class= "card-text"> Staff member </p>
						<p class= "card-text"> Here For your help! </p>
						<p class= "card-text"> Age: 21 </p>
					</div>
				</div>
			</div>
		
		<div class = "col-md-4">
			<div class = "card">
				<img class = "card-img-top", src = "{% static 'img/Travel-Photographer.jpg' %}">
				<div class = "card-body">
					<h4 class = "card-title"> Jin Sato </h4>
					<p class= "card-text"> Staff member </p>
					<p class= "card-text"> Customer Service means the world to us! </p>
					<p class= "card-text"> Age:21 </p>
				</div>
			</div>
		</div>
		
		
		<div class = "col-md-4">
			<div class = "card">
				<img class = "card-img-top", src = "{% static 'img/Travel-Photographer.jpg' %}">
				<div class = "card-body">
					<h4 class = "card-title"> Hrithvik Gadhiya </h4>
					<p class= "card-text"> Staff member </p>
					<p class= "card-text"> Tell us how your experience was! </p>
					<p class= "card-text"> Age:21 </p>
				</div>
			</div>
		</div>
		
		{% if user.is_superuser %}
			<a href="{% url 'ticket-all' %}" class="btn btn-outline-secondary justify-content-center" >View tickets</a>
		{% endif %}
	</div>
					

	<div class="content-section">
		<form method='POST'>
			{% csrf_token %}
			<fieldset class="form-group">
			  <legend class="border-bottom mb-4">Send us a message</legend>
			  {{ form|crispy }}
			</fieldset>
			<div class="form-group">
			  <button type="submit" class="btn btn-outline-info">Send message</button>
			</div>
		</form>
	</div>
		
{% endblock content %}