{% extends "users/base.html" %}
{% load static %}
{% block content %}
   
	<div class="container">
       	   <h2>List of all tickets</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Submission Time</th>
                    <th>Ticket #</th>
					<th>Status</th>
                </tr>
            </thead>
	<tbody>
    {% for ticket in viewtickets%}
			<!-- {% if vehicle.availability %} -->
				<tr>
					<td>{{ ticket.id }}</td>
					<td>#</td>
					<td>#</td>
					<td></td>
						
				</tr>
			<!-- {% endif %} -->
    {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}