{% extends "users/base.html" %}
{% load static %}
{% block content %}
	<div id = "slides" class= "carousel slide" data-ride="carousel">
		<ul class = "carousel-indicators">
			<li data-target = "#slides" data-slide-to = "0" class = "active"></li>
			<li data-target = "#slides" data-slide-to = "1"></li>
			<li data-target = "#slides" data-slide-to = "2"></li>
		</ul>
		
		<div class = "carousel-inner">
			<div class = "carousel-item active">
				<img class="img-responsive" src= "{% static 'img/car2.jpg' %}" style="width: 100%">
				<div class = "carousel-caption d-none d-md-block">
					<h1 class = "display-2">Featured Cars</h1>
					<button type = "button" class = "btn btn-outline-light btn-lg"> Browse Vehicles </button>
				</div>
			</div>
			<div class= "carousel-item">
				<!-- <div class="d-none d-md-block"> -->
					<img class="img-responsive" src = "{% static 'img/car2.jpg' %}" style="width: 100%">
				<!-- </div> -->
			</div>
			<div class = "carousel-item" >
				<!-- <div class="d-none d-md-block"> -->
					<img class="img-responsive" src = "{% static 'img/car3.jpg' %}" style="width: 100%">
				<!-- </div> -->
			</div>
		</div>

		<a class="carousel-control-prev" href="#slides" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#slides" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>

	</div>

{% endblock content %}