{% extends "users/base.html" %}
{% load static %}
{% block content %}
   
	<div class="container">
       	   <h2>Insurance Providers</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Vehicle</th>
                    <th>Vehicle Engine Number</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for insurance in viewinsurance%}
                            <tr>
                                <td>{{ insurance.insurance_prov }}</td>
                                <td>{{ insurance.vehicle_id}}</td>
                                <td>{{ insurance.vehicle_id.engine_no }}</td>
                                <td>{{ insurance.price }}</td>
                                    
                            </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
            <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}