{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load account %}

{% block content %}

    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}

    
    {% else %}
    <div class="content-section">
        <form method='POST' id="forgot_password_form" action="{% url 'reset_password' %}">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Reset Password</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-info">Request Password Reset</button>
            </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
              <a class="ml-2" href="{%url 'login' %}">Login Now</a>
          </small>

        </div>
    </div>
    {% endif %}

{% endblock %}