{% extends "users/base.html" %}
{% load static %}
{% block content %}
	<div id = "slides" class= "carousel slide" data-ride="carousel">
		<ul class = "carousel-indicators">
			<li data-target = "#slides" data-slide-to = "0" class = "active"></li>
			<li data-target = "#slides" data-slide-to = "1"></li>
			<li data-target = "#slides" data-slide-to = "2"></li>
		</ul>
		
		<div class = "carousel-inner">
			<div class = "carousel-item active">
				<img class="img-responsive" src= "{% static 'img/car2.jpg' %}" style="width: 100%">
				<div class = "carousel-caption d-none d-md-block">
					<h1 class = "display-2">Featured Cars</h1>
					<button type = "button" class = "btn btn-outline-light btn-lg"> Browse Vehicles </button>
				</div>
			</div>
			<div class= "carousel-item">
				<!-- <div class="d-none d-md-block"> -->
					<img class="img-responsive" src = "{% static 'img/car2.jpg' %}" style="width: 100%">
				<!-- </div> -->
			</div>
			<div class = "carousel-item" >
				<!-- <div class="d-none d-md-block"> -->
					<img class="img-responsive" src = "{% static 'img/car3.jpg' %}" style="width: 100%">
				<!-- </div> -->
			</div>
		</div>

		<a class="carousel-control-prev" href="#slides" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#slides" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>

	</div>

    <div class="container">
        <h2>List of all available cars</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
					<th>Type</th>
                    <th>Capacity</th>
                    <th>Transmission</th>
					<th>Day Rent</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
    {% for vehicle in vehicles%}
			<!-- {% if vehicle.availability %} -->
				<tr>
					<td>{{ vehicle.make }}</td>
					<td>{{ vehicle.model }}</td>
					<td>{{ vehicle.package.type }}</td>
					<td>{{ vehicle.seating_cap }}</td>
					<td>{{ vehicle.transmission }}</td>
					<td>{{ vehicle.package.per_day_rent }}</td>
					<td><button type="button" class="btn btn-light">
						<a href="{% url 'test-drive' %}">Test Drive</a>
						</button>
						<button type="button" class="btn btn-light">
						<a href="{% url 'booking-new' %}">Book</a>
						</button></td>
				</tr>
			<!-- {% endif %} -->
    {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
        <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}