{% extends "users/base.html" %}
{% load static %}
{% block content %}
   
	<div class="container">
       	   <h2>All Messages</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Question</th>
					<th>Customer email</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in viewtickets%}
                            <tr>
                                <td>{{ ticket.customer_id }}</td>
                                <td>{{ ticket.customer_question}}</td>
                                <td>{{ ticket.customer_id.email }}}</td>
                                <td><a class="btn btn-outline-info" href="mailto:{{ ticket.customer_id.email }}">Reply</a></td>
                                    
                            </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_superuser %}
            <a class="btn btn-outline-info" href="{% url 'vehicle-new' %}">Add vehicle</a>
        {% endif %}
    </div>

{% endblock content %}